.docs-table {
    overflow-x: auto;
    flex-direction: column;
    display: flex;
    width: 100%;
}

.docs-table .center {
    text-align: center;
}

.docs-table td p {
    transition: text-overflow 0.5s ease-in 0.3s;
}

.docs-table td p {
    margin: 0;
    max-width: 100%;
    overflow-wrap: break-word;
}

.docs-table .truncated:not(.expanded) td p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.docs-table .expandable td .expand-btn {
    display: block;
}

.docs-table .expandable td .expand-btn .icon {
    cursor: pointer;
}

.docs-table td .expand-btn,
.docs-table .expandable:not(.expanded) td .expand-btn .expand-icon,
.docs-table .expandable.expanded td .expand-btn .collapse-icon {
    display: none;
}

.docs-table td.actions {
    width: 8rem;
}

.docs-table td.actions .disabled {
    opacity: .5;
    cursor: default;
}

.docs-table td.title {
    max-width: calc(40vw - 22rem);
}

.docs-table td.summary {
    max-width: calc(40vw - 22rem);
}

.docs-table td.summary > div {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.docs-table td.category {
    max-width: calc(40vw - 40rem);
    /* direction: rtl; */
}

.docs-table td.date {
    width: 7rem;
}

.docs-table td.status {
    max-width: 7em;
}

.docs-table td.user {
    max-width: 8em;
}

.docs-table td.actions span,
.docs-table td.actions a {
    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.docs-table td.actions .icon {
    color: #343a40;
}

.tablePagination .page-item.active .page-link {
    background-color: #027bc2;
    border-color: #027bc2;
}

.tablePagination .page-item .page-link {
    color: #027bc2;
}