#main-container {
    min-height: 100vh;
    min-width: 100vw;
}

#main-container > .page-content {
    margin: 6rem 1rem;
}

#main-container > .page-content.centered-x {
    margin-left: auto;
    margin-right: auto;
}

#main-container > .page-content.centered-y {
    margin-top: auto;
    margin-bottom: auto;
}