form h1 {
    margin-bottom: 2rem; 
}

#docFormBody {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-out;
}

#docFormBody.active {
    max-height: 50vh;
}

select.form-control.is-invalid, 
.was-validated select.form-control:invalid {
    background-position: right calc(1em + .1875rem) center;
}