#docForm {
    margin: auto;
    width: 100%;
    max-width: 50rem;
}

#docForm h1 {
    margin-bottom: 2rem; 
}

select.form-control.is-invalid, 
.was-validated select.form-control:invalid {
    background-position: right calc(1em + .1875rem) center;
}